<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ static_url("css/main.css") }}" type="text/css">
    {% block head %}{% end %}
  </head>
  <body style="margin:0;">
    {% block navbar %}{% include "navbar.html" %}{% end %}
    <div id="body">
      <div id="header">
        <h1 style="color:red;">main</h1>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block footer %}{% include "footer.html" %}{% end %}
  </body>
</html>
