{% block footer %}
<div class="fixed-bottom bg-dark pt-2 mt-2">
  <div class="container text-center">
    <p class="credit text-white">
      Some icons made by Freepik from www.flaticon.com
      <br />
      Developed in Spain  By <a href="https://www.linkedin.com/in/mateo-alvarez">mateyoalvarez</a>, <a href="https://www.linkedin.com/in/charlesfloresespinoza/">cflores</a> and Carlos Edmundo Arcila
      <br />
      With the support of Fundación General de la Universidad de Salamanca and Fundación General de la Universidad de Valladolid
    </p>
  </div>
</div>
{% end %}
