{% block head %}
<link rel="stylesheet" href="{{ static_url("css/navbar.css") }}" type="text/css">
{% end %}
{% block navbar %}
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datasets">Datasets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ml_models">ML Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trained_ml_models">Trained ML Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/running_applications">Running Applications</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        {% if current_user %}
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout" data-method="delete">{{ _("navbar.user.Logout") }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_settings" data-method="delete">{{ _("navbar.user.Settings") }}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">{{ _("navbar.user.Login") }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">{{ _("navbar.user.Register") }}</a>
          </li>
        {% end %}
      </ul>
    </div>
  </nav>

{% end %}
