<div class="row">
  <div class="table-responsive text-center mx-auto">
    <table class="table-striped table-bordered table-hover table_spaced">
        <tr>
          <th>
            #
          </th>
          <th>
            {{ _("models.header.model_name") }}
          </th>
          <th>
            {{ _("models.header.model_description") }}
          </th>
          <th>
            {{ _("models.header.model_code") }}
          </th>
        </tr>
      {% for index, model in enumerate(models) %}
        <tr>
          <td>
            {{ index }}
          </td>
          <td>
            {{ model["template_name"] }}
          </td>
          <td>

          </td>
          <td>
            {{ model["code_content"]["code"] }}
          </td>
        </tr>
      {% end %}
    </table>
  </div>
</div>
