apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kafka-producer-{application_id}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: application-{application_id}
  template:
    metadata:
      labels:
        app: application-{application_id}
    spec:
      containers:
      - name: kafka-producer-{application_id}
        image: 998377059405.dkr.ecr.eu-central-1.amazonaws.com/pyxis-kafka-producer:latest
        imagePullPolicy: Always
        env:
          - name: WORDS_TO_TRACK
            value: {WORDS_TO_TRACK}
          - name: KAFKA_TOPIC
            value: {KAFKA_TOPIC}
          - name: TWITTER_CONSUMER_API_KEY
            value: {TWITTER_CONSUMER_API_KEY}
          - name: TWITTER_CONSUMER_API_SECRET
            value: {TWITTER_CONSUMER_API_SECRET}
          - name: TWITTER_CONSUMER_TOKEN
            value: {TWITTER_CONSUMER_API_SECRET}
          - name: TWITTER_CONSUMER_SECRET
            value: {TWITTER_CONSUMER_SECRET}
