<div class="row">
  <div class="table-responsive text-center mx-auto">
    <table class="table-striped table-bordered table-hover table_spaced">
        <tr>
          <th>
            #
          </th>
          <th>
            {{ _("models.header.application_name") }}
          </th>
          <th>
            {{ _("models.header.dataset") }}
          </th>
          <th>
            {{ _("models.header.preprocessing_stages") }}
          </th>
          <th>
            {{ _("models.header.models") }}
          </th>
          <th>
            {{ _("models.header.classification_criteria") }}
          </th>
          <th>
            {{ _("models.header.status") }}
          </th>
          <th>
            {{ _("applications.header.deploy") }}
          </th>
          <th>
            {{ _("applications.header.stop") }}
          </th>
        </tr>
      {% for index, application in enumerate(user_applications) %}
        <tr>
          <td>
            {{ index }}
          </td>
          <td>
            {{ application["application_name"] }}
          </td>
          <td>
            {{ application["application_dataset"] }}
          </td>
          <td>
            {{ application["application_prep_stages_ids"] }}
          </td>
          <td>
            {{ application["application_models_ids"] }}
          </td>
          <td>
            {{ application["classification_criteria"] }}
          </td>
          <td>
            {{ application["application_status"] }}
          </td>
          <td>
            {% if application["application_status"] in ["trained", "stopped"]  %}
              <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#{{ application["id"] }}"/>{{ _("applications.content.deploy") }}</button>
            {% else %}
              <button disabled class="btn btn-primary" type="button" data-toggle="modal" data-target="#{{ application["id"] }}"/>{{ _("applications.content.deploy") }}</button>
            {% end %}
          </td>
          <td>
            {% if application["application_status"] == "running" %}
              <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#{{ application["id"] }}_delete">{{ _("applications.content.delete") }}</button>
            {% else %}
              <button disabled class="btn btn-danger" type="button">{{ _("applications.content.delete") }}</button>
            {% end %}
          </td>
        </tr>
        <!-- First modal -->
        <div class="modal fade" id="{{ application["id"] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ _("applications.content.deploy") }} {{ application["application_name"] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ _("applications.deploy.confirm.confirmation_text") }} {{ application["application_name"] }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("datasets.delete.confirm.go_back") }}</button>
                <form method='post' action='/applications/deploy'>
                  <input class="text-input" name="keywords"/>
                  <input class="text-input" type="hidden" name="datasource_settings_id" value={{ application["datasource_settings_id"] }} />
                  <button class="btn btn-primary" data-toggle="modal" data-target="{{ application["id"] }}" type='submit' value={{ application["id"] }} name="application_id" id="application">{{ _("applications.content.deploy") }} {{ application["application_name"] }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Second modal -->
        <div class="modal fade" id="{{ application["id"] }}_delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{{ _("applications.content.deploy") }} {{ application["application_name"] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ _("applications.delete.confirm.confirmation_text") }} {{ application["application_name"] }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("datasets.delete.confirm.go_back") }}</button>
                <form method='post' action='/applications/delete'>
                  <button class="btn btn-danger" data-toggle="modal" data-target="{{ application["id"] }}" type='submit' value={{ application["id"] }} name="application_id" id="application">{{ _("applications.content.delete") }} {{ application["application_name"] }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% end %}
    </table>
  </div>
</div>
