<form>
  <div class="dropdown">
    <label for="select_prep">{{ _("models.pipeline_creation.select.preprocessing") }}</label>
    <select class="form-control" id="select_prep">
      {% for method in data_prep_methods %}
        <option value="{{ method["id"] }}">{{ method["prep_name"] }}</option>
      {% end %}
    </select>
    <label for="select_model">{{ _("models.pipeline_creation.select.model") }}</label>
    <select class="form-control" id="select_model">
      {% for model in models %}
        <option value="{{ model["id"] }}">{{ method["model_name"] }}</option>
      {% end %}
    </select>
  </div>
  <div>
    <button class="btn btn-primary" type='submit'>{{ _("models.pipeline_creation.submit") }}</button>
  </div>
</form>
