<form method='post' action='/ml_models'>
  <div class="dropdown">
    <label for="application_dataset">{{ _("models.application_creation.select.dataset") }}</label>
    <select class="form-control" id="application_dataset" name="application_dataset">
      {% for dataset in datasets %}
        <option value="{{ dataset["id"] }}">{{ dataset["storage_url"] }}</option>
      {% end %}
    </select>
  </div>
  <div>
    <label for="application_prep_stages_ids">{{ _("models.application_creation.select.preprocessing") }}</label>
    <table>
      <tr>
        <th>
          method
        </th>
        <th>
          params
        </th>
      </tr>
      {% for method in data_prep_methods %}
        <tr>
          <td>
            <input type="checkbox" name="application_prep_stages_ids" value="{{ method["id"] }}">{{ method["template_name"] }}</input>
          </td>
          <td>
            <input class="text-input" id="{{ 'application_prep_stages_config_' + str(model["id"]) }}" name="{{ 'application_prep_stages_config_' + str(method["id"]) }}"></input>
          </td>
        </tr>
      {% end %}
    </table>
  </div>
  <div>
    <label for="application_models_ids">{{ _("models.application_creation.select.model") }}</label>
    <table>
      <tr>
        <th>
          model
        </th>
        <th>
          params
        </th>
      </tr>
      {% for model in models %}
        <tr>
          <td>
            <input type="checkbox" name="application_models_ids" value="{{ model["id"] }}">{{ model["template_name"] }}</input>
          </td>
          <td>
            <input class="text-input" id="{{ 'application_models_config_' + str(model["id"]) }}" name="{{ 'application_models_config_' + str(model["id"]) }}"></input>
          </td>
        </tr>
      {% end %}
    </table>
  </div>
  <div>
    <label for="classification_criteria">{{ _("models.application_creation.select.classification_criteria") }}</label>
    <select id="classification_criteria" name="classification_criteria">
      {% for criteria in classification_criteria %}
        <option value="{{ criteria["id"] }}">{{ criteria["name"] }}</option>
      {% end %}
    </select>
  </div>
  <div>
    <input class="text-input" id="application_name" name="application_name" type="text" value="" />
  </div>
  <div>
    <button class="btn btn-primary" type='submit'>{{ _("models.application_creation.submit") }}</button>
  </div>
</form>
