<div class="row">
  <div class="table-responsive text-center mx-auto">
    <table class="table-striped table-bordered table-hover">
        <tr>
          <th>
            #
          </th>
          <th>
            {{ _("models.header.preprocessing_name") }}
          </th>
          <th>
            {{ _("models.header.preprocessing_name") }}
          </th>
          <th>
            {{ _("models.header.preprocessing_description") }}
          </th>
        </tr>
      {% for index, method in enumerate(data_prep_methods) %}
        <tr>
          <td>
            {{ index }}
          </td>
          <td>
            {{ method["prep_name"] }}
          </td>
          <td>
            {{ method["prep_transformation"] }}
          </td>
        </tr>
      {% end %}
    </table>
  </div>
</div>
