{% extends "../base/base.html" %}
{% block head %}
{% end %}
{% block body %}
    <div class="row">
      <div class="table-responsive text-center mx-auto">
        <table class="table-striped table-bordered table-hover table_spaced">
            <tr>
              <th>
                #
              </th>
              <th>
                aggregate
              </th>
              <th>
                timestamp
              </th>
              <th>
                tweet_text
              </th>
            </tr>
          {% for index, tweet in enumerate(records) %}
            <tr>
              <td>
                {{ index }}
              </td>
              <td>
                {{ tweet["aggregated"] }}
              </td>
              <td>
                {{ tweet["timestamp"] }}
              </td>
              <td>
                {{ tweet["tweet_text"] }}
              </td>
            </tr>
          {% end %}
        </table>
      </div>
    </div>
{% end %}