{% extends "../base/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ static_url("css/home/home.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css">
{% end %}
{% block body %}

<!--Showcase-->
<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h1 class="display-2 mt-5 pt-5">
                        {{ _("landing.main.title") }}
                    </h1>
                    <p class="landing_main_description">{{ _("landing.main.description") }}</p>
                    <a href="#about" class="btn btn-outline-light btn-lg"><i class="fa fa-arrow-right"></i>{{ _("landing.main.read_more.button") }}</a>
                </div>
                <div class="col-sm-5">
                    <img src="{{ static_url("img/PyxismlDiagram.png") }}" alt="Diagram" class="img-fluid d-none d-lg-block">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Boxes Section -->
<section id="boxes" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">{{ _("landing.steps.first_step.header") }}</h3>
                        <p class="text-muted">{{ _("landing.steps.first_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white">
                    <div class="card-body">
                        <h3>{{ _("landing.steps.second_step.header") }}</h3>
                        <p>{{ _("landing.steps.second_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">{{ _("landing.steps.third_step.header") }}</h3>
                        <p class="text-muted">{{ _("landing.steps.third_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white">
                    <div class="card-body">
                        <h3>{{ _("landing.steps.fourth_step.header") }}</h3>
                        <p>{{ _("landing.steps.fourth_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Accordeon Section FAQ/ABOUT -->
<section id="about" class="py-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        {{ _("landing.how_it_works.header") }}
                    </h1>
                    <p class="lead pb-3">
                        {{ _("landing.how_it_works.description") }}
                    </p>
                </div>

                <!--ACCORDION-->
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" id="heading1">
                            <h5 class="mb-0">
                                <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down"></i> {{ _("landing.how_it_works.advantages.first.header") }}
                                </div>
                            </h5>
                        </div>
                        <div id="collapse1" class="collapse show">
                            <div class="card-body">
                                {{ _("landing.how_it_works.advantages.first.paragraph") }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading2">
                            <h5 class="mb-0">
                                <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down">{{ _("landing.how_it_works.advantages.second.header") }}</i>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse">
                            <div class="card-body">
                                {{ _("landing.how_it_works.advantages.second.paragraph") }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h5 class="mb-0">
                                <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down">{{ _("landing.how_it_works.advantages.third.header") }}</i>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse3" class="collapse">
                            <div class="card-body">
                                {{ _("landing.how_it_works.advantages.third.paragraph") }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h5 class="mb-0">
                                <div href="#collapse4" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down">{{ _("landing.how_it_works.advantages.fourth.header") }}</i>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse4" class="collapse">
                            <div class="card-body">
                                {{ _("landing.how_it_works.advantages.fourth.paragraph") }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% end %}
