{% extends "../base/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ static_url("css/home/home.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css">
{% end %}
{% block body %}

<!--Showcase-->
<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h1 class="display-2 mt-5 pt-5">
                        {{ _("landing.main.title") }}
                    </h1>
                    <p>{{ _("landing.main.description") }}</p>
                    <a href="#about" class="btn btn-outline-secondary btn-lg text-white"><i class="fa fa-arrow-right"></i>{{ _("landing.main.read_more.button") }}</a>
                </div>
                <div class="col-sm-5">
                    <img src="{{ static_url("img/PyxismlDiagram.png") }}" alt="Diagram" class="img-fluid d-none d-lg-block">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Boxes Section -->
<section id="boxes" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">{{ _("landing.steps.first_step.header") }}</h3>
                        <p class="text-muted">{{ _("landing.steps.first_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white">
                    <div class="card-body">
                        <h3>{{ _("landing.steps.second_step.header") }}</h3>
                        <p>{{ _("landing.steps.second_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center border-primary">
                    <div class="card-body">
                        <h3 class="text-primary">{{ _("landing.steps.third_step.header") }}</h3>
                        <p class="text-muted">{{ _("landing.steps.third_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center bg-primary text-white">
                    <div class="card-body">
                        <h3>{{ _("landing.steps.fourth_step.header") }}</h3>
                        <p>{{ _("landing.steps.fourth_step.paragraph") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Accordeon Section FAQ/ABOUT -->
<section id="about" class="py-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        {{ _("landing.how_it_works.header") }}
                    </h1>
                    <p class="lead pb-3">
                        {{ _("landing.how_it_works.description") }}
                    </p>
                </div>

                <!--ACCORDION-->
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" id="heading1">
                            <h5 class="mb-0">
                                <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down"></i> {{ _("landing.how_it_works.models.header") }}
                                </div>
                            </h5>
                        </div>
                        <div id="collapse1" class="collapse show">
                            <div class="card-body">
                                {{ _("landing.how_it_works.models.paragraph") }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading2">
                            <h5 class="mb-0">
                                <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down">{{ _("landing.how_it_works.training.header") }}</i>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse">
                            <div class="card-body">
                                {{ _("landing.how_it_works.training.paragraph") }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h5 class="mb-0">
                                <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-arrow-circle-down">{{ _("landing.how_it_works.analysis.header") }}</i>
                                </div>
                            </h5>
                        </div>
                        <div id="collapse3" class="collapse">
                            <div class="card-body">
                                {{ _("landing.how_it_works.analysis.header") }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Authors Section -->
<!-- <section id="authors" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        {{ _("landing.team.header") }}
                    </h1>
                    <p class="lead pb-3">
                        {{ _("landing.team.paragraph") }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
              <div class="card">
                  <div class="card-body">
                      <img src="img/monkey.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                      <h3>Mateo Alvarez</h3>
                      <h5>Designer</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, magni quaerat. Architecto
                          ducimus ea est eum praesentium saepe sint.</p>
                      <div class="d-flex flex-row-justify-content-center">
                          <div class="p-4">
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                          <div class="p-4">
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card">
                  <div class="card-body">
                      <img src="img/monkey.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                      <h3>Mateo Alvarez</h3>
                      <h5>Designer</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, magni quaerat. Architecto
                          ducimus ea est eum praesentium saepe sint.</p>
                      <div class="d-flex flex-row-justify-content-center">
                          <div class="p-4">
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                          <div class="p-4">
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="card">
                  <div class="card-body">
                      <img src="img/monkey.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                      <h3>Mateo Alvarez</h3>
                      <h5>Designer</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, magni quaerat. Architecto
                          ducimus ea est eum praesentium saepe sint.</p>
                      <div class="d-flex flex-row-justify-content-center">
                          <div class="p-4">
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                          <div class="p-4">
                              <a href="#"><i class="fa fa-github"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="img/monkey.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Mateo Alvarez</h3>
                        <h5>Designer</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, magni quaerat. Architecto
                            ducimus ea est eum praesentium saepe sint.</p>
                        <div class="d-flex flex-row-justify-content-center">
                            <div class="p-4">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
{% end %}
