<form action="datasource_settings" method="post">
  <div class="form-group col-6 mx-auto mt-5 px-5 py-2 card transparent_light_background">
    <fieldset>
        <label for="TWITTER_API_KEY">{{ _("user.config.TWITTER_API_KEY") }}</label>
        <input class="text-input form-control" id="TWITTER_API_KEY" name="TWITTER_API_KEY" type="text" placeholder="Enter API_KEY" required>
    </fieldset>
    <fieldset>
        <label for="TWITTER_API_SECRET_KEY">{{ _("user.config.TWITTER_API_SECRET_KEY") }}</label>
        <input class="text-input form-control" id="TWITTER_API_SECRET_KEY" name="TWITTER_API_SECRET_KEY" type="text" placeholder="Enter API_SECRET_KEY" required>
    </fieldset>
    <fieldset>
        <label for="TWITTER_ACCESS_TOKEN">{{ _("user.config.TWITTER_ACCESS_TOKEN") }}</label>
        <input class="text-input form-control" id="TWITTER_ACCESS_TOKEN" name="TWITTER_ACCESS_TOKEN" type="text" placeholder="Enter ACCESS_TOKEN" required>
    </fieldset>
    <fieldset>
        <label for="TWITTER_ACCESS_TOKEN_SECRET">{{ _("user.config.TWITTER_ACCESS_TOKEN_SECRET") }}</label>
        <input class="text-input form-control" id="TWITTER_ACCESS_TOKEN_SECRET" name="TWITTER_ACCESS_TOKEN_SECRET" type="text" placeholder="Enter ACCESS_TOKEN_SECRET" required>
    </fieldset>

    <div id="form_btn" class="w-100 mx-auto mt-4">
        <input id="signin-btn" class="btn btn-primary" type="submit" value={{ _("user.config.twitter_config") }} tabindex="3">
    </div>
  </div>
</form>
