{% extends "../base/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css">
{% end %}

{% block body %}
  <div class="container-fluid">
    <form class="needs-validation" action="/auth/register" method="post" id="registration_form">
      <div class="form-group col-6 mx-auto mt-5 px-5 py-5 card transparent_light_background text-light">
        <fieldset>
            <label for="username">{{ _("registration.user.Email") }}</label>
            <input class="text-input form-control" id="email" name="email" type="email" placeholder="Enter email" value="" required>
        </fieldset>

        <fieldset>
            <label for="name">{{ _("registration.user.Username") }}</label>
            <input class="text-input form-control" id="username" name="username" type="text" value="" placeholder="Enter your name">
        </fieldset>

        <fieldset>
            <label for="password">{{ _("registration.user.Password") }}</label>
            <input pattern=".{0}|.{4,8}" class="text-input form-control" id="password" name="password" type="password" value="" placeholder="Enter password" aria-describedby="passwordHelpInline" required>
            <small id="passwordHelpInline" class="text-muted">
              Must be 4-8 characters long.
            </small>
        </fieldset>

        <fieldset>
            <label for="password">{{ _("registration.user.Repeatpassword") }}</label>
            <input pattern=".{0}|.{4,8}" class="text-input form-control" id="password" name="password" type="password" value="" placeholder="Repeat password" required>
        </fieldset>

        <fieldset>
            <span class="errormessage"></span>
        </fieldset>

        <div id="form_btn" class="w-100 mx-auto mt-4">
            <input id="registration-btn" class="btn btn-primary" type="submit" value={{ _("registration.user.Register") }} tabindex="3">
        </div>
      </div>
    </form>
  </div>
{% end %}
