{% extends "../base/base.html" %}
{% block body %}
<div class="container">

  <div class="row">
    <div class="row">
      <h1>{{ _("user.settings.title") }}</h1>
      <div class="table-responsive text-center mx-auto">
        <table class="table-striped table-bordered table-hover">
          {% for data_key, data_value in zip(user_data.keys(), user_data.values()) %}
            <tr>
              <td>
                {{ _("user.settings." + data_key) }}
              </td>
              <td>
                {{ data_value }}
              </td>
            </tr>
          {% end %}
        </table>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <h1>Twitter application configuration</h1>
      </div>
      <div class="container mb-5">
        {% if len(user_twitter_settings) == 0 %}
          <button type="button" class="btn btn-primary my-3" data-toggle="collapse" data-target="#twitter_credentials">{{ _("user.config.add_twitter_account") }}</button>
          <div id="twitter_credentials" class="container collapse">
            {% include "_twitter_account_form.html" %}
          </div>
        {% else %}
          <button type="button" class="btn btn-primary my-3" data-toggle="collapse" data-target="#twitter_credentials" disabled>{{ _("user.config.add_twitter_account") }}</button>
        {% end %}
      </div>
      <table class="table-striped table-bordered table-hover">
        <tr>
          <th>
            Index
          </th>
          <th>
            key
          </th>
          <th>
            value
          </th>
        </tr>
        {% for index, twitter_config in enumerate(user_twitter_settings) %}
          <tr>
            <td rowspan={{ len(twitter_config) + 1 }}>
              {{ index }}
            </td>
          </tr>
          {% for key, value in twitter_config.items() %}
            <tr>
              <td>
                {{ key }}
              </td>
              <td>
                {{ value }}
              </td>
            </tr>
          {% end %}
        {% end %}
      </table>
      {% if user_twitter_settings_id != 0 %}
        <div class="container">
          <form method="post" action="datasource_settings/delete">
            <input type="text" name="id" value='{{user_twitter_settings_id}}' hidden/>
            <input type="submit" class="btn btn-primary my-3"        value='{{_("user.config.delete_twitter_account")}}'/>
          </form>
        </div>
      {% end %}
    </div>
  </div>
</div>
{% end %}
