{% extends "../base/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ static_url("css/particles.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/ml-models/ml-models.css") }}" type="text/css">
{% end %}

{% block body %}

  {% for index, application in enumerate(running_applications) %}

  <div class="input-group">
      <label for="application_models_ids">{{ application["application_name"] }}</label>
      <br>
      <div class="container card-deck">
        <div class="container card-group my-3 px-0 w-100">
          <div class="card mx-0">
            <h4 class="card-header">{{ application["application_name"] }}</h4>
            <div class="card-body">
              {{ application["application_status"] }}
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" onclick="addNewModel()">Download</button>
      <button type="button" class="btn btn-primary" onclick="addNewModel()">Visualize</button>
    </div>
  {% end %}

{% end %}
