{% extends "../base/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ static_url("css/particles.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/ml-models/ml-models.css") }}" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{{ static_url("js/running-applications/running-applications.js") }}"></script>
{% end %}

{% block body %}

  <div class="container-fluid transparent_lighter_background py-5">
    <div class="container px-0">
      {% for index, application in enumerate(running_applications) %}

      <div class="input-group">
          <div class="container card-deck">
            <div class="container card-group my-3 px-0 w-100">
              <div class="card mx-0">
                <h4 class="card-header">{{ application["application_name"] }}</h4>
                <div class="card-body">
                  {{ application["application_status"] }}
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary mx-1" value={{ application["id"] }} onclick="downloadData('{{application['id']}}')">Download</button>
          <button type="button" class="btn btn-primary mx-1" value={{ application["id"] }} onclick="document.location.href='/running_applications/visualize?app_id={{ application["id"] }}&elements=100';">Visualize</button>
        </div>
      {% end %}
    </div>
  </div>
{% end %}
