{% extends "../base/base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ static_url("css/particles.css") }}" type="text/css">
{% end %}

{% block body %}
  <div class="container-fluid transparent_lighter_background py-5">
    <div class="container">
      <h1>{{ _("mlmodels.tab.applications") }}</h1>
    </div>
    <div class="container my-5">
      {% include "_create_application.html" %}
    </div>
    <div class="container">
      {% include "_user_applications.html" %}
    </div>
  </div>
{% end %}
